/**
* CSS STYLESHEETS:
*
* base.css............Sets the global rules.
* layout.css..........Sets the layout of the containers.
* components.css......Sets the rules of the smaller components.
*/


/**
* THIS FILE CONTAINS:
* 
* GLOBAL RULES
* Box-sizing
* Links
* H6 rules
* Font-family
* Paddings
*
* GLOBAL VALUES (VARIABLES)
* Backgrounds
* Font colors
*/





/*------------------------------------*\
  #GLOBAL RULES
\*------------------------------------*/

* { box-sizing: border-box }


a {
  text-decoration:  none;
  color:          white;
  font-size:        12px;
}


h6 {
  font-size:        12px;
  letter-spacing:   2.4px;
  font-weight:      bold;
  text-transform:   uppercase
}


body { font-family: "Montserrat" }


main div {
  width:    540px;
  height:   640px;
  padding:  60px
}





/*------------------------------------*\
  #GLOBAL VALUES
\*------------------------------------*/

/**
* 1) Background color of header and buttons
* 2) Background color of divs in main container
*
* 3) Font color of header and buttons
*/

:root {
  --primary-background:    #6200EA; /* [1] */
  --secondary-background:  white; /* [2] */
  --form-background:       #F4F3F5;
  --footer-background:     #211138;
}


:root {
  --primary-font-color:       white; /* [3] */
  --secondary-font-color:     #6200EA;
  --navbar-font-color:        rgba(244,243,245,0.6);
  --paragraph-font-color:     #211138;
  --footer-font-color:        #B2ACBA;
  --footer-span-font-color:   #6200EA;
}