/**
* THIS FILE CONTAINS:
*
* HEADER
* MAIN
* FOOTER
*/





/*------------------------------------*\
  #HEADER
\*------------------------------------*/

/**
* These rules extend ´.header´ in layout.css
*/


.header { background: var(--primary-background) }

  .navbar__item {
    color:            var(--navbar-font-color);
    font-size:        12px;
    letter-spacing:   2.4px;
    font-weight:      bold;
    text-transform:   uppercase
  }

  .navbar__item--active { color: var(--primary-font-color) }

  .navbar__item--active::after {
    content:          "";
    display:          block;
    position:         relative;
    top:              32px;
    height:           4px;
    width:            75px;
    background:       var(--primary-font-color)
  }





/*------------------------------------*\
  #MAIN
\*------------------------------------*/

/**
* These rules extend ´.main´, ´.location´
* and ´.contact-us´ in layout.css.
*/


.main { background: #F4F3F5 }


  .location {
    background:       var(--secondary-background);
    border-radius:    15px
  }

    .location__map {
      height:           280px;
      width:            420px;
      border-radius:    15px
    }

    .location__address-heading { margin: 30px 0 10px }

    .location__address { font-size: 14px }

    .location__phone-number { margin: 30px 0 10px }

    .location__email { margin-bottom: 30px }

    .location__icon-container {
      display:          flex;
      justify-content:  space-between;
      width:            140px;
      height:           40px;
      padding:          0;
    }

      .location__icon-link {
        display:          table;
        background:       var(--primary-background);
        text-align:       center;
        font-size:        20px;
        border-radius:    9999px;
        width:            40px;
        height:           40px;
      }

        .location__icon {
          display:          table-cell;
          vertical-align:   middle
        }


  .contact-us {
    background:       var(--secondary-background);
    border-radius:    15px
  }

    .contact-us__heading {
      color:            var(--paragraph-font-color);
      font-size:        40px;
      font-weight:      bold
    }

    .contact-us__paragraph {
      color:            var(--paragraph-font-color);
      font-size:        20px;
      height:           90px;
      width:            420px;
      line-height:      1.4;
      overflow:         hidden;
      margin:           10px 0 20px
    }

    .contact-us__form {
      display:          flex;
      flex-direction:   column;
      justify-content:  space-between;
      height:           350px
    }

      .contact-us__btn {
        background:       var(--primary-background);
        color:            var(--primary-font-color);
        font-size:        12px;
        letter-spacing:   2.4px;
        text-transform:   uppercase;
        border-radius:    9999px;
        padding:          18px 0 17px;
        border:           0;
        margin-top:       5px
      }





/*------------------------------------*\
  #FOOTER
\*------------------------------------*/

/**
* These rules extend ´.footer´ in layout.css
*/

.footer { background: var(--footer-background) }

  .footer__paragraph {
    color:            var(--footer-font-color);
    font-size:        12px;
    font-weight:      bold;
    letter-spacing:   2.4px;
    text-transform:   uppercase;
  }

    .footer__span { color: var(--footer-span-font-color) }